@page "/languagedetection"
@rendermode InteractiveServer
@using MachineLearning_WebApp

<PageTitle>Language Detection</PageTitle>

<h1>Language Detection</h1>
<h2>Scenario: Data classification (or alternatively text classification)</h2>

<div>
    Please enter your text here:
</div>

<textarea class="form-control" style="height:150px;margin-top:5px" spellcheck="false"
          @bind="inputText" @bind:event="oninput" @bind:after="TextChanged" />

<div style="margin-top:20px;">
    Detected language:
    <span style="font-weight:bold">@detectedLanguage</span>
</div>

@code {
    private string? inputText;

    private string? detectedLanguage = "None";

    private void TextChanged()
    {
        if (inputText is null or "") {
            detectedLanguage = "None";
            return;
        }

        // TODO: Set detectedLanguage field based on inputText field
        //Load sample data from the "input"
        var input = new LanguageDetectionModel.ModelInput()
        {
            Message = inputText
        };

        //Load model and predict output
        var output = LanguageDetectionModel.Predict(input);

        detectedLanguage = output.PredictedLabel;

    }
}
